In [189]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import string

In [58]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.probability import FreqDist
from nltk.corpus import stopwords

In [59]:
nltk.download('stopwords')

In [63]:
df = pd.read_csv("description.csv")

In [65]:
df.head()

,title,description
0,Full Stack Engineer (Python/React),Required Skills:- 3+ years of experience with ...
1,Senior Python Backend Engineer,We’re about to convince you that you need a ne...
2,Python Developer,The company Noname Digital is inviting Python ...
3,Python NLP Developer,Tangible AI helps nonprofits and social busine...
4,SEnior Python WMS,Job Summary: We are looking for a full-time Se...

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        305 non-null    object
 1   description  305 non-null    object
dtypes: object(2)
memory usage: 4.9+ KB

In [67]:
df.describe()

,title,description
count,305,305
unique,217,294
top,Senior Python Developer,We are Data Science UA and we are a fast growi...
freq,25,3

In [176]:
 """
 Considering the text could be english or ukrainian, we modify  english stopwords by adding ukrainian words.
"""
with open('stopwords_ua.txt', 'r', encoding='utf-8') as file:
      ukrainian_stop_words = [line.strip() for line in file.readlines()]
"""
After analysing text with nltk i created file with additional stopwords.
"""
with open('my_custom_stopwords.txt', 'r', encoding='utf-8') as file:
    my_custom_stopwords = [line.strip() for line in file.readlines()]        

modified_stop_words = nltk.corpus.stopwords.words('english')

modified_stop_words.extend(ukrainian_stop_words) 
modified_stop_words.extend(custom_stop_words)

In [177]:
def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they are in punctuation, returns list of char
    unwanted_chars = string.punctuation + '’—–1234567890'
    nopunc = [char for char in mess if char not in unwanted_chars]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return " ".join([word for word in nopunc.split() if word.lower() not in modified_stop_words])

In [178]:
df["text_without_stopwords"]= df["description"].apply(text_process)

In [179]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [180]:
 # Create joined string of all processed text 
all_text = "".join(df["text_without_stopwords"])

In [181]:
allWords = nltk.tokenize.word_tokenize(all_text)

In [183]:
allWordDist = nltk.FreqDist(w.lower() for w in allWords)

In [186]:
mostCommon= allWordDist.most_common(20)

In [188]:
mostCommon

[('python', 522),
 ('django', 133),
 ('aws', 127),
 ('api', 113),
 ('sql', 101),
 ('rest', 87),
 ('docker', 85),
 ('postgresql', 82),
 ('frontend', 78),
 ('agile', 60),
 ('cicd', 60),
 ('ai', 55),
 ('react', 53),
 ('pipelines', 50),
 ('linux', 50),
 ('git', 49),
 ('microservices', 48),
 ('flask', 45),
 ('nosql', 43),
 ('javascript', 42)]